<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LavoraMi">
        <activity
            android:name=".RequestUserDatas"
            android:exported="false" />
        <activity
            android:name=".ThemeSettings"
            android:exported="false" />
        <activity
            android:name=".AccountManagement"
            android:exported="false" />
        <activity
            android:name=".AdvancedOptions"
            android:exported="false" />
        <activity
            android:name=".FilterSelection"
            android:exported="false" />
        <activity
            android:name=".NotificationSettings"
            android:exported="false" />
        <activity
            android:name=".SourcesDevelopment"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".LinesActivity"
            android:exported="false" />
        <activity
            android:name=".LinesDetailActivity"
            android:exported="false"
            android:parentActivityName=".LinesActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${API_KEY}" />
        <meta-data
            android:name="supabaseURL"
            android:value="${API_SUPABASE_URL}" />
        <meta-data
            android:name="supabaseANON"
            android:value="${API_SUPABASE_ANON}" />
        <meta-data
            android:name="googleAPI"
            android:value="${API_GOOGLE_SIGNUP}" />

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="false" />
    </application>
</manifest>